# Prerequisites
*.d

# Setting
.cproject
.settings/*
broker/logs/broker.log
broker/bin/broker
broker/bin/logs/broker.log
broker/logs/logdebug.log
broker/logs/.gitignore
gameboy/.settings/language.settings.xml
gameboy/.settings*
gameboy/.cproject
gameboy/bin/gameboy
gameboy/logs/gameboy.log
gameboy/bin/logs/gameboy.log
gameboy/debug/*.o
testServer/.settings*
testServer/.cproject
testServer/bin/testServer
testServer/bin/log/*.log
testServer/logs/testserver.log
testServer/debug/*.o
team/logs/team.log
team/bin/logs/team.log
team/bin/team
gamecard/logs/
gameCard/.autotools
gameCard/.project
gameCard/.settings/language.settings.xml
delibird/.settings/language.settings.xml


# Object files
*.o
*.ko
*.obj
*.elf


# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
dkms.conf
/Default/
