TAMANO_MEMORIA=8192
TAMANO_SWAP=640000
TAMANO_MINIMO_PARTICION=16
ALGORITMO_MEMORIA=PARTICIONES
ALGORITMO_REEMPLAZO=FIFO
ALGORITMO_PARTICION_LIBRE=FF
IP_BROKER=127.0.0.1
PUERTO_BROKER=6009
FRECUENCIA_COMPACTACION=4
TRIGGER_MENSAJES_BORRAR=100000
LOG_FILE=./logs/broker.log
RUTA_SWAP=./config/broker.swap